body{
    overflow-x: hidden;
}

.all-courses{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media only screen and (min-width:577px) and (max-width:768px){
    .all-courses{
        grid-template-columns: repeat(1, 1fr);
    }

}

@media screen and (max-width: 576px){
    section.company.d-md-none.d-lg-block.py-5 {
        display: none !important;
    }
    .all-courses{
        grid-template-columns: repeat(1, 1fr);
    }
    
}