.slider-text {
    font-size: 20px;
}

.all-courses{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.slider-image{
    filter: brightness(50%);
}
















/* responsive slider */
